#banner-section{
    background: $light-blue;
    .container{
        padding-block: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        text-align: center;
        color: $dark-blue;
        .header{
            max-width: 672px;
            h2{
                margin-bottom: 1rem;
            }
        }
        .form-wrapper{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            #message-box{
                position: absolute;
                top: 0;
                margin: auto;
                background: $white;
                padding: 0.5rem 1rem;
                border-radius: 12px;
                box-shadow: $shadow-1;
                opacity: 0;
                transition: 0.5s ease-in-out;
                &.show{
                    top: -48px;
                    opacity: 1;
                    &.error{
                        color: $error-red;
                    }
                }
            }
        }
        #subscribe-form{
            width: min(600px, 100%);
            display: flex;
            align-items: center;
            box-shadow: $shadow-2;
            background: $white;
            border-radius: 8px;
            overflow: hidden;
            z-index: 1;
            .input-field{
                width: 100%;
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
                input{
                    width: 100%;
                    background: none;
                    color: $dark-blue;
                    font-size: 18px;
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover, 
                    &:-webkit-autofill:focus, 
                    &:-webkit-autofill:active{
                        background-clip: text;
                        -webkit-background-clip: text;
                    }
                }
                
            }
            button{
                position: relative;
                cursor: pointer;
                background: $blue;
                padding: 1rem;
                display: flex;
                align-items: center;
                transition: 0.35s background ease-in-out;
                svg:first-child{
                    transform: translateY(0);
                    transition: 0.35s ease-in-out;
                    path{
                        fill: $white;
                    }
                }
                svg:last-child{
                    position: absolute;
                    stroke: $white;
                    transform: translateY(160%);
                    transition: 0.35s ease-in-out;
                }
                @media (hover: hover){
                    &:hover{
                        background: $light-blue;
                        svg:first-child{
                            transform: translateY(-6px);
                            path{
                                fill: $blue;
                            }
                        }
                    }
                }
                &.clicked{
                    pointer-events: none;
                    background: $success-green;
                    transition-delay: 0.35s;
                    svg:first-child{
                        transform: translateY(-160%);
                        path{
                            fill: $blue;
                        }
                    }
                    svg:last-child{
                        transform: translateY(0);
                        transition-delay: 0.35s;
                    }
                }
                &.fail{
                    pointer-events: none;
                    background: $error-red;
                    svg:first-child{
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    #banner-section .container #subscribe-form .input-field input{
        font-size: $t-body-text;
    }
}

@media screen and (max-width: 480px){
    #banner-section .container #subscribe-form .input-field input{
        font-size: $p-body-text;
    }
}