.thumbnailNews {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $dark-blue;

    .headline{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .thumbnailNewsImage {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 8px;
    }

    .thumbnailHeadline {
        font-family: "InterSemiBold";
        line-height: 125%;
        opacity: 1;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}