.newArticle {
    display: flex;
    justify-content: center;
    color: $dark-blue;
    .container{
        width: min(1440px, 100%);
        padding-block: 3rem;
    }

    .newsArticleSeparator {
        border-top: 2px solid rgba($dark-blue, 0.3);
    }

    .newArticleHeading {
        font-weight: $bold;
        font-size: 2rem;
        margin-block: 1rem 2rem;
    }

    .newArticleArticles {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media screen and (max-width: 1024px){
    .newArticle {
        .container{
            text-align: center;
        }
        .newArticleArticles{
            justify-content: center;
            gap: 1rem 1.5rem;
        }
    }
}