.mission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    color: $dark-blue;
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .mission-title,
        .content {
            display: flex;
            justify-content: center;
        }

        .content {
            text-align: center;
        }

        .mission-image {
            width: 100%;
            border-radius: 12px;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            box-shadow: $shadow-2;
        }
    }
}

@media screen and (min-width: 1000px){
    .mission-container {
        .container {
            width: 1000px;
        }
    }
}

@media screen and (max-width: 768px){
    .mission-container {
        padding: 1rem 0;

        .container {
            padding-block: 3rem !important;
        }
    }
}

@media screen and (max-width: 480px){
    .mission-container {
        padding: 0 0;

        .container {
            padding-block: 2rem !important;
        }
    }
}