.vision-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    width: 50%;
    gap: 2rem;

    .vision-cards{
        display: flex;
        gap: 1rem;

        .cardVision {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 193px;
            height: 516px;
            color: $white;
            background-image: linear-gradient(rgba(0, 15, 52, 0), rgba(0, 31, 52, 1));
            border-radius: 12px;
            transition: width ease 1s;
        
            .cardImage {
                position: absolute;
                width: 100%;
                height: 100%;
                overflow: hidden;
                z-index: -1;
                border-radius: 12px;
                object-fit: cover;
            }
            .absolute {
                position: absolute;
                bottom: 1.5rem;
                animation: forwards;
            }
        
            .cardContents {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: ease 0.3s;
        
                .cardCaption {
                    text-align: center;
                }
            }
            
            .show-detail {
                transition-delay: 1.5s;
                opacity: 1;
                transition: ease 0.3s;
            }
        }
        .active-card {
            width: 613px;
            padding: 0 2rem;
            transition: width ease 1s;
        }
    }
}