#vision-section {
    width: 100%;
    .container{
        padding-block: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        color: $dark-blue;
        .vision-cards{
            width: min(100%, 1280px);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
            .cardVision {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 144px;
                height: 516px;
                padding: 0 2rem;
                position: relative;
                color: $white;
                background: linear-gradient(rgba(0, 15, 52, 0), rgba(0, 31, 52, 1));
                border-radius: 12px;
                box-shadow: $shadow-2;
                overflow: hidden;
                text-align: center;
                transition: 0.5s flex ease-in-out;

                &.active-card {
                    pointer-events: none;
                    flex-grow: 1;
                }
            
                .cardImage {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    object-fit: cover;
                }
                .cardIcon{
                    position: absolute;
                    bottom: 2rem;
                    transition: 0.5s bottom ease-in-out;
                    &.active-card{
                        bottom: 75%;
                    }
                }
                .cardContents {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    opacity: 0;
                    transition: ease 0.3s;
                    .cardCaption {
                        margin-top: 0.5rem;
                        opacity: 1;
                    }
                }
                .show-detail {
                    animation: fadeUp 0.35s ease-in-out 0.5s forwards;
                }
            }
        }
    } 
}

@keyframes fadeUp{
    from{
        transform: translateY(150%);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    #vision-section {
        .container {
            padding-block: 3rem !important;
    
            .vision-cards {
                flex-direction: column;
                height: 80vh;
        
                .cardVision {
                    width: 100% !important;
                    height: 100px !important;

                    .cardIcon {
                        width: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px){
    #vision-section {
        .container {
            padding-block: 2rem !important;

            .vision-cards {
                .cardVision {
                    height: 80px !important;

                    .cardIcon {
                        bottom: 1.5rem;
                    }
                }
            }
        }
    }
}