#hero-section{
    background: linear-gradient(0deg, rgba(0, 15, 52, 0.7), rgba(0, 15, 52, 0.7)), url('../../../assets/images/hero-background.png');
    background-position: center;
    .container{
        padding-block: 4rem 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        .header{
            color: $white;
            text-align: center;
            > p{
                margin-top: 1rem;
            }
        }
        .glide-wrapper{
            width: 100vw;
            position: relative;
            .glide{
                position: static;
                width: clamp(260px,50vw,480px);
                aspect-ratio: 16 / 9;
                margin: auto;
                .glide__arrow{
                    width: min(10vw, 100px);
                    padding: 0;
                    border: none;
                    border-radius: 0px;
                    background-color: rgba($blue, 0.7);
                    height: 100%;
                    transition: 0.35s background ease-in-out;
                    &.glide__arrow--left{
                        left: 0;
                    }
                    &.glide__arrow--right{
                        right: 0;
                        svg{
                            transform: rotate(180deg);
                        }
                    }
                    svg{
                        fill-opacity: 0;
                        transition: 0.35s ease-in-out;
                    }
                    &:hover{
                        background-color: $blue;
                        svg{
                            fill-opacity: 1;
                            path{
                                stroke: $blue;
                            }
                        }
                    }
                }
                .glide__track{
                    width: 100%;
                    height: 100%;
                    overflow: visible !important;
                    .glide__slides{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        overflow: unset;
                        .glide__slide{
                            width: 100%;
                            height: 100%;
                            transition: 0.35s transform ease-in-out;
                            &.glide__slide--active{
                                transform: scale(125%);
                            }
                            img{
                                border-radius: 12px;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                box-shadow: $shadow-1;
                            }
                        }
                    }
                }
                .glide__bullets{
                    bottom: -5rem;
                    .glide__bullet{
                        margin: 0 6px;
                        width: 12px;
                        height: 12px;
                        background: $white;
                        opacity: 0.3;
                        transition: 0.35s opacity ease-in-out;
                        &.glide__bullet--active,
                        &:hover,
                        &:focus{
                            opacity: 1;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    #hero-section{
        .container{
            min-height: 90vh;
        }
    }
}

@media screen and (max-width: 768px){
    #hero-section{
        .container{
            padding-block: 2rem 8rem;
        }
    }
    .glide__arrows{
        display: none;
    }
}