.form-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    color: $dark-blue;
    
    .form-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;

        // General
        .radio-option {
            display: none;
        }

        .radio-label {
            display: flex;
            justify-content: center;
            cursor: pointer;
        }

        .radio-option:checked + .radio-label {
            background-color: $blue;
            color: $white;
        }

        // Page 1
        .radio-first {
            display: inline-flex;
            border-radius: 99px;
            overflow: hidden;
            box-shadow: 0 0 0 1.2px inset $blue;
            transition: background 0.1s;
            justify-content: space-around;
            align-items: center;
            position: relative;

            .vl {
                border-right: solid 1.5px $blue;
                height: 100%;
                position: absolute;
            } 

            .radio-label {
                padding: 16px 0;
                width: 100%;
                position: relative;
                overflow: hidden;
                
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0%;
                    background: $blue;
                    transition: 0.35s height ease-in-out;
                    z-index: -1;
                }

                &:hover{
                    color: $white;
                    transition: 0.35s color ease-in-out;
                    &::before{
                        height: 100%;
                    }
                }
            }
        }

        .donation-amount {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 16px;

            .radio-label {
                border: solid 1.5px rgba($dark-blue, 0.3);
                width: 193px;
                padding: 16px 0;
                border-radius: 8px;
                transition: 0.35s border ease-in-out;

                &:hover {
                    cursor: pointer;
                    border: solid 1.5px rgba($blue, 1);
                }
            }
        }

        // Page 2
        .button-donation-method {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 16px;

            .radio-label {
                border: solid 1.5px rgba($dark-blue, 0.3);
                width: 193px;
                padding: 16px 0;
                border-radius: 99px;
                transition: 0.35s border ease-in-out;

                &:hover {
                    cursor: pointer;
                    border: solid 1.5px rgba($blue, 1);
                }
            }

            .pay-method {
                display: none;
            }

            .pay-method:checked + .radio-label {
                border: solid 1.5px $blue;
            }
        }

        // Page 3
        input {
            border: solid 1.5px rgba($color: #000F34, $alpha: 0.3);
            padding: 16px;
            border-radius: 8px;
            &:not(:placeholder-shown){
                border: solid 1.5px rgba($blue, 1);
            }
        }
    }

    // Page 2
    .form-card-content {
        display: flex;
        width: 100%;
        gap: 16px;

        .content-card {
            display: flex;
            flex-direction: column;
            gap: 24px;

            input {
                border: solid 1.5px rgba($color: #000F34, $alpha: 0.3);
                padding: 16px;
                border-radius: 8px;
                &:not(:placeholder-shown){
                    border: solid 1.5px rgba($blue, 1);
                }
            }
        }
        .card-num {
            width: 70%;
        }
        .card-cvv {
            width: 30%;
        }
    }
}

@media screen and (max-width: 768px){
    .form-container {

        .donation-amount,
        .button-donation-method {
            justify-content: center;
        }
        .radio-label {
            font-size: $t-body-text;
        }
    }
}

@media screen and (max-width: 480px){
    .form-container {

        .radio-first {
            text-align: center;

            .radio-label {
                padding: 10px !important;
            }
        }

        .amount-option {
            width: 46%;         
        }
        .method-option {
            width: 46%;
        }
        .radio-label {
            width: 100% !important;
        } 
        
        .form-card-content {
            flex-direction: column;

            .content-card {
                gap: 8px;
                width: 100%;

                input {
                    font-size: $p-body-text;
                }
            }
        }

        .form-content {
            input {
                font-size: $p-body-text;
            }
        }
    }
}