.donate-content.container {
    display: flex;
    flex-direction: column;
    padding-block: 3rem;
    gap: 1rem;
    font-size: $body-text;
    font-weight: $regular;
    color: $dark-blue;
    .donate-bold-text{
        font-weight: $semi-bold;
    }
}

@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 480px){
    
}