* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: $white;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

input,
button{
    border: none;
    outline: none;
}

h1,h2,h3,.title{
    line-height: 125%;
}

h1{
    font-size: $large-heading;
}

h2{
    font-size: $medium-heading;
}

h3{
    font-size: $small-heading;
}

.title{
    font-size: $title;
    font-weight: $semi-bold;
    opacity: 1;
}

p{
    font-size: $body-text;
    opacity: 0.8;
    line-height: 150%;
}

.caption{
    font-size: $caption;
}

.container{
    padding: 0 6.25rem;
}

.primary-btn{
    position: relative;
    padding: 1rem 2rem;
    border-radius: 8px;
    background: $blue;
    color: $white;
    font-weight: $semi-bold;
    font-size: 1.25rem;
    transition: 0.35s background ease-in-out, 0.35s color ease-in-out;
    &:hover{
        background: $light-blue;
        color: $blue;
    }
    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 16px;
        width: 80%;
        height: 16px;
        background: $blue;
        filter: blur(16px);
        opacity: 0.6;
        z-index: -1;
    }
}

.secondary-btn{
    position: relative;
    padding: 1rem 2rem;
    box-shadow: 0 0 0 1.2px inset $blue;
    border-radius: 8px;
    color: $blue;
    font-weight: $semi-bold;
    font-size: 1.25rem;
    transition: 0.35s background ease-in-out, 0.35s color ease-in-out;
    &:hover{
        background: $blue;
        color: $white;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: $white;
}
  
::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: $dark-blue;
}

@media screen and (max-width: 1280px){
    
}

@media screen and (max-width: 1024px){
    .container{
        padding: 0 4rem;
    }
}

@media screen and (max-width: 768px){
    .container{
        padding: 0 3rem;
    }
}

@media screen and (max-width: 480px){
    .container{
        padding: 0 1.5rem;
    }
}