* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: $white;
}

a{
    font-size: $body-text;
    text-decoration: none;
}

input,
button{
    border: none;
    outline: none;
}

h1,h2,h3,.title{
    line-height: 125%;
}

h1{
    font-size: $large-heading;
}

h2{
    font-size: $medium-heading;
}

h3{
    font-size: $small-heading;
}

.title{
    font-size: $title;
    font-weight: $semi-bold;
    opacity: 1;
}

p{
    font-size: $body-text;
    opacity: 0.8;
    line-height: 150%;
}

.caption{
    font-size: $caption;
}

.container{
    padding: 0 6.25rem;
}

.primary-btn{
    position: relative;
    padding: 1rem 2rem;
    border-radius: 8px;
    background: $blue;
    color: $white;
    font-weight: $semi-bold;
    font-size: 1.25rem;
    transition: 0.35s background ease-in-out, 0.35s color ease-in-out;
    &:hover{
        background: $light-blue;
        color: $blue;
    }
    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 16px;
        width: 80%;
        height: 16px;
        background: $blue;
        filter: blur(16px);
        opacity: 0.6;
        z-index: -1;
    }
}

.secondary-btn{
    position: relative;
    padding: 1rem 2rem;
    box-shadow: 0 0 0 1.2px inset $blue;
    border-radius: 8px;
    color: $blue;
    font-weight: $semi-bold;
    font-size: 1.25rem;
    transition: 0.35s color ease-in-out;
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0%;
        aspect-ratio: 1/1;
        background: $blue;
        border-radius: 50%;
        opacity: 0;
        transition: 0.35s width ease-in-out, 0.35s opacity ease-in-out;
        z-index: -1;
    }
    &:hover{
        color: $white;
        &:before{
            opacity: 1;
            width: 120%;
        }
    }
}

.tertiary-btn{
    position: relative;
    padding: 1rem 2rem;
    transition: 0.35s color ease-in-out;
    overflow: hidden;
    p{
        color: $blue;
        font-weight: $semi-bold;
        font-size: 1.25rem;
    }
    &:hover{
        p{
            text-decoration: underline;
        }
    }
}

.body-wrapper{
    overflow-x: clip;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: $light-blue;
}
  
::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #1244a7;
}

@media screen and (max-width: 1280px){
    .container{
        padding: 0 5rem;
    }
}

@media screen and (max-width: 1024px){
    .container{
        padding: 0 4rem;
    }

    h1{
        font-size: $t-large-heading;
    }
    
    h2{
        font-size: $t-medium-heading;
    }
    
    h3{
        font-size: $t-small-heading;
    }
    
    .title{
        font-size: $t-title;
    }
    
    p,a{
        font-size: $t-body-text;
    }
    
    .caption{
        font-size: $t-caption;
    }

    .primary-btn,
    .secondary-btn{
        font-size: 18px;
    }
}

@media screen and (max-width: 768px){
    .container{
        padding: 0 3rem;
    }
}

@media screen and (max-width: 480px){
    .container{
        padding: 0 1.5rem;
    }

    h1{
        font-size: $p-large-heading;
    }
    
    h2{
        font-size: $p-medium-heading;
    }
    
    h3{
        font-size: $p-small-heading;
    }
    
    .title{
        font-size: $p-title;
    }
    
    p,a{
        font-size: $p-body-text;
    }
    
    .caption{
        font-size: $p-caption;
    }

    .primary-btn,
    .secondary-btn{
        font-size: 16px;
    }
}