@font-face {
    font-family: "InterRegular";
    src: url("../../assets/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "InterSemiBold";
    src: url("../../assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "InterBold";
    src: url("../../assets/fonts/Inter-Bold.ttf");
}

// Font Weight Variables
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Font Size Variables
$large-heading: 56px;
$medium-heading: 40px;
$small-heading: 32px;
$title: 24px;
$body-text: 18px;
$caption: 16px;